
{% extends "YannickCrudBundle::layout.html.twig" %}

{% block title %}
  Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer un utilisateur</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'utilisateur "{{ users.username }}" ?
  </p>

  {# On met l'id de l'utilisateur dans la route de l'action du formulaire #}
  <form action="{{ path('yannick_crud_delete', {'id': users.id}) }}" method="post">
    <a href="{{ path('yannick_crud_view', {'id': users.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'utilisateur
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}