{% block html%}
 <!DOCTYPE html>
<html>
{% block head%}
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Liste users</title>
  <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
  <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=758e23b3f1a4c34d6c055f5cc10bae7e">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <style type="text/css" class="init">
  
  </style>
  
</head>
{% endblock%}
  {% block body%}
  

<body class="wmobile">
        </div>

    </a>  <h2><i class="glyphicon glyphicon-user"></i> Liste des utilisateurs</h2>
            <div class="pull-right">
      <a href="{{ path('yannick_crud_add')}}" class="btn btn-default">Ajouter un utilisateur
      <i class="glyphicon glyphicon-plus"></i>
      </a>
     
      </div>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nom d'utilisateur</th>
              <th>Email</th>
              <th>Département</th>
              <th>Editer</th>
              <th>Supprimer</th>
             
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nom d'utilisateur</th>
              <th>Email</th>
              <th>Département</th>
              <th>Editer</th>
              <th>Supprimer</th>
            
            </tr>
          </tfoot>
          <tbody>
        {% for user in users %}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              {% for dep in deps if user.refdep.id == dep.id%}
                  <td>{{dep.nom}}</td>
              {% endfor %}
              <td><a href="{{ path('yannick_crud_edit', {'id': user.id}) }}">
          <span class="glyphicon glyphicon-pencil"></span></td>
              <td><a href="{{ path('yannick_crud_delete', {'id': user.id}) }}">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>
              
            </tr>
        {% endfor %}

          </tbody>
        </table>
        </body>
        {% endblock %}
        </html>
  {% block javasccript %}
  <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>
    <script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js">
  </script>


  <script type="text/javascript" class="init">
  

$(document).ready(function() {
    $('#example').DataTable({
      "info":     false,
      "oLanguage": {
  "sSearch": '<span>Rechercher :</span> _INPUT_ '
}
    });
} );


  </script>
  {% endblock%}

{% endblock %}